<template>
    <div class="box">
        <p class="has-text-danger" v-if="error">{{ error }}</p>
        <br/>
        <form v-on:submit.prevent="submit" method="post">
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="email" v-model="email" placeholder="Email" autofocus required>
                    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                </p>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" v-model="password" minlength="8" maxlength="32" placeholder="Password" required>
                    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                </p>
            </div>

            <div class="field">
                <p class="control">
                    <button type="submit" class="button is-success" :disabled="!ready">Sign in</button>
                </p>
            </div>
        </form>

        <div class="has-text-centered is-fullwidth" style="margin-top: 32px">
            <a href="#/users/new">I haven't account</a>
        </div>
    </div>
</template>

<script>
    module.exports = {
        data: function() {
            return {
                'error': null,
                'email': '',
                'password': '',
                'ready': true
            };
        },
        methods: {
            'submit': function () {
                const self = this;

                self.ready = false;
                axios.get("auth/token", {
                    auth: {
                        username: self.email,
                        password: self.password
                    }
                }).then(
                    (response) => {
                        STORE.commit("SET_TOKEN", response.data);
                    },
                    (error) => {
                        if (error.response) {
                            const response = error.response;
                            console.log(response);
                            self.error = response.data.message;
                        } else {
                            self.error = 'Internal server error.';
                        }
                        self.ready = true;
                    }
                )
            }
        }
    };
</script>