<template>
    <div class="columns">
        <div v-if="success" class="column is-offset-2 is-8">
            <div class="box has-text-centered has-text-success">
                Account was created! Use a login form to sign in.
            </div>
        </div>
        <div class="column is-offset-2 is-8" v-else>
            <div class="box">
                <h1 class="title">New account</h1>
                <p class="has-text-danger" v-if="error">{{ error }}</p>
                <br/>
                <form v-on:submit.prevent="submit" method="post">
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="email" v-model="email" placeholder="Email" autofocus required>
                            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                        </p>
                    </div>

                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="password" v-model="password" minlength="8" maxlength="32" placeholder="Password" required>
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                        </p>
                    </div>

                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="password" v-model="passwordConfirm" placeholder="Confirm password" required>
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                        </p>
                    </div>

                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="text" v-model="name" placeholder="Name" required>
                            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                        </p>
                    </div>
                    <br/>
                    <div class="field">
                        <p class="control">
                            <button type="submit" class="button is-success" :disabled="!ready">Sign up</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    module.exports = {
        data: function() {
            return {
                'error': null,
                'email': '',
                'password': '',
                'passwordConfirm': '',
                'name': '',
                'success': false,
                'ready': true
            };
        },
        methods: {
            'submit': function () {
                var self = this;

                if (self.password !== self.passwordConfirm) {
                    self.error = "Passwords don't match.";
                    return;
                }

                self.ready = false;
                axios.post("api/v1/users", {
                    "email": self.email,
                    "password": self.password,
                    "password_confirm": self.passwordConfirm,
                    "name": self.name
                }).then(
                    (response) => {
                            self.success = true;
                        },
                    (error) => {
                            console.log(error.response);

                            if (error.response.status === 400) {
                                self.error = error.response.data.message;
                            } else {
                                self.error = 'Internal server error.';
                            }

                            self.ready = true;
                        }
                )
            }
        }
    };
</script>