<nav aria-label="main navigation" class="navbar is-primary" role="navigation">
    <div class="navbar-brand">
        <a aria-expanded="false" aria-label="menu"
           class="navbar-burger burger"
           data-target="navbarBasicExample"
           role="button"
           v-on:click="isNavVis = !isNavVis" v-bind:class="{ 'is-active' : isNavVis }">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navbarBasicExample" v-bind:class="{ 'is-active' : isNavVis }">
        <div class="navbar-start">
            <router-link v-if="token" class="navbar-item" to="/quotes/mine">Profile</router-link>
            <router-link class="navbar-item" to="/quotes/top10">Top 10</router-link>
            <router-link class="navbar-item" to="/quotes/flop10">Flop 10</router-link>
            <router-link class="navbar-item" to="/quotes/last">Last</router-link>
        </div>
    </div>
</nav>