<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body>
<div id="root">
    <header th:insert="~{fragments/header}"></header>
    <section class="section">
        <div class="container">
            <div class="columns reversed-columns">
                <div class="column">
                    <component :is="content"></component>
                </div>
                <div class="column is-3 is-narrow">
                    <div class="box">
                        <component :is="sidebar"></component>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>